<div class="page-header">
    <h1>Welcome to Bilden<small>  Your pensum organizer</small></h1>
</div>

<div class="btn-group">
    <% if signed_in? %>
        <button type="button" class="btn btn-default">  
            <%= link_to "logout", signout_path,  method: "delete" %>
        </button>
    <%else%>
        <button type="button" class="btn btn-default">
            <%= link_to "login", signin_path%>
        </button>

    <%end%>
    <button type="button" class="btn btn-default">
        <%= link_to "register", signup_path %>
    </button>
</div>
